#reset {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSkBr5HUYE1Dzo9W9QECvPJ5g8KT63qcOChJrhR0blJ-3W1tLz);
    width: 6.3cm;
    height: 5.5cm;
    color: blue ;
    font-size: 1cm;
}

#OS1 {
    width: 10cm;
    height:2cm;
}

#OS2 {
    width: 10cm;
    height:2cm;
}

#OS-storages {
    color: blue;
    position: fixed;
    right: 1cm;
    top: 10cm;
}

img {
    height: 1cm;
    width: 1cm;
}

#linux {
    width: 7.5cm;
    height: 7.5cm;
}