#reset {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSkBr5HUYE1Dzo9W9QECvPJ5g8KT63qcOChJrhR0blJ-3W1tLz);
    width: 6.3cm;
    height: 5.5cm;
    color: blue ;
    font-size: 1cm;
    bottom: 2.3cm;
    right: 1cm;
    position: fixed;
}

#OS1 {
    width: 10cm;
    height:2cm;
}

#OS2 {
    width: 10cm;
    height:2cm;
}

#OS3 {
    width: 10cm;
    height:2cm;
}

#OS-storages {
    color: blue;
    position: fixed;
    right: 1cm;
    top: 1cm;
}

img {
    height: 1cm;
    width: 1cm;
    z-index: 1;
}

#linux {
    padding-top: 0.7cm;
    width: 7.5cm;   
    height: 7.5cm;
}

.usersName {
    top: 1cm;
    right: 26cm;
    position: fixed;
}

.usersNum {
    top: 1.5cm;
    right: 26cm;
    position: fixed;
}

.upgrade {
    position: fixed;
    bottom: 1cm;
    right: 1cm;
    height: 1cm;
    width: 1cm;
}

.upgrade1 {
    position: fixed;
    bottom: 1cm;
    right: 2.1cm;
    height: 1cm;
    width: 1cm;
}

.usersName1 {
    top: 1cm;
    right: 23cm; 
    position: fixed;
}

.usersNum1 {
    top: 1.5cm;
    right: 23cm;
    position: fixed;
}

.usersName2 {
    top: 1cm;
    right: 20cm; 
    position: fixed;
}

.usersNum2 {
    top: 1.5cm;
    right: 20cm;
    position: fixed;
}

#Image {
    width: 1cm;
    height: 1cm;
}

.usersName3 {
    top: 1cm;
    right: 17cm; 
    position: fixed;
}
.usersName4 {
    top: 1cm;
    right: 14cm; 
    position: fixed;
}

.usersNum3 {
    top: 1.5cm;
    right: 17cm;
    position: fixed;
}

.usersNum4 {
    top: 1.5cm;
    right: 14cm;
    position: fixed;
}

.userNumb {
    top: 2cm;
    right: 26cm;
    position: fixed;
}

.userNumb1 {
    top: 2cm;
    right: 23cm;
    position: fixed;
}

.userNumb2 {
    top: 2cm;
    right: 20cm;
    position: fixed;
}

.userNumb3 {
    top: 2cm;
    right: 17cm;
    position: fixed;
}
.userNumb4 {
    top: 2cm;
    right: 14cm;
    position: fixed;
}

#tenth{
    right: 2cm;
    width: 1cm;
    height: 1cm;
    position: fixed;
    bottom: 1cm;
}

.konami{
    font-size: 3.4mm;
}

.upgradeu{
    position: fixed;
    bottom: 1cm;
    right: 3cm;
    height: 1cm;
    width: 2cm;
}
.upgraded{
    position: fixed;
    bottom: 1cm;
    right: 5cm;
    height: 1cm;
    width: 2cm;
}
.upgradec{
    position: fixed;
    bottom: 1cm;
    right: 7cm;
    height: 1cm;
    width: 2cm;
}
.upgradet{
    position: fixed;
    bottom: 1cm;
    right: 9cm;
    height: 1cm;
    width: 2cm;
}
.upgradem{
    position: fixed;
    bottom: 1cm;
    right: 11cm;
    height: 1cm;
    width: 2cm;
}
#noClick{
    position: fixed;
    bottom: 1cm;
    right: 13cm;
    height: 1cm;
    width: 2cm;
}

.codeD{
    position: relative;
    left: 3.4cm;
    z-index: 100;
}

.l1{
    position: fixed;
    background-color: lawngreen;
    color: lawngreen;
}
.r2{
    position: fixed;
    background-color: lawngreen;
    color: lawngreen;
}

.t3{
    position: fixed;
    background-color: lawngreen;
    color: lawngreen;
    top: 4.8cm;
    z-index: -1;
    height: 1cm;
}

.one{
    position: fixed;
    right: 11cm;
    width: 2cm;
    height: 2cm;
    top: 1cm;
}
.ten{
    position: fixed;
    right: 11cm;
    width: 2cm;
    height: 2cm;
    top: 5cm;
}
.s{
    position: fixed;
    right: 11cm;
    width: 2cm;
    height: 2cm;
}

